{
	"extends": [
		"xo",
		"xo-typescript",
		"prettier"
	],
	"parserOptions": {
		"project": "./tsconfig.json"
	},
	"rules": {
		"@typescript-eslint/naming-convention": "warn",
		"new-cap": "warn"
	}
}