version: "3.8"

services:
  reverse-proxy:
    image: traefik:3.0@sha256:7ca3233c2d4d862db071aceba4355bb430065ec00d818b6b4724c09f2a6a2783
    command:
      - "--api.insecure=true"
      - "--providers.docker"
    ports:
      - "80:80" # The HTTP port
      - "8081:8080" # The Web UI (enabled by --api.insecure=true)
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock # So that Traefik can listen to the Docker events

  fastify-app:
    build:
      context: .
      dockerfile: Dockerfile
    labels:
      - "traefik.http.routers.fastify-app.rule=Host(`fastify-starter.traefik.me`)"
      - "traefik.http.services.fastify-app.loadbalancer.server.port=3000"
    environment:
      NODE_ENV: production
    command: yarn start:prod
